@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap);
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body
{
min-height: 100vh;
background: linear-gradient(#2b1055,#7597de);
overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}
 
header
{
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 100px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;

}

header .logo
{
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

header ul
{
  display:  flex;
  justify-content: center;
  align-items: center;

}

header ul li
{
  list-style: none;
  margin-left: 20px;
}

header ul li a
{
 text-decoration: none;
 padding:  6px 15px;
 color: #fff;
 border-radius: 20px;
}

header ul li a:hover, 
header ul li a.active
{
  background: #fff;
  color: #2b1055;
}

section
{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before
{
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top,#1c0522, transparent);
  z-index: 1000;
}

section img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

section img#moon
{
  mix-blend-mode: screen;
  

}

section img#mountains_front
{
  z-index: 10;
}

#text
{
  position: absolute;
  right: -350px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
  transform: translateY(100px);
}

#btn
{
  text-decoration: none;  
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background-color: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
}

.sec
{
  position: relative;
  padding: 100px;
  background: #1c0522;

}

.sec h2
{
  font-size:  3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.sec p
{
  font-size: 1em;
  color: #fff;
}
 


/* --------------------------------------------- */
.third
{
  position: relative;
  padding: 100px;
  background: #1c0522;

}

.third h2
{
  font-size:  3.5em;
  margin-bottom: 10px;
  color: #fff;
}

.third p
{
  font-size: 1em;
  color: #fff;
}

.logo1
{
 border-radius: 45%;
 height: 15%;
 width: 15%;
}

.zdjęciadotestow
{

  border-radius: 10%;
  height: 23%;
  width: 25%;
  size: 300px;
  margin-top: 0.7%;
  margin-bottom: 0.5%;
  margin-left: 2%;
  display: inline-block;
  position: relative;


}

.zdjęciadotestow2
{

  border-radius: 10%;
  height: 20%;
  size: 300px;
  width: 40%;
  margin-top: 0.7%;
  margin-bottom: 1.2%;
  margin-left: 2%;
  display: inline-block;
  position: relative;
  
<<<<<<< HEAD

}

.zdjęciadotestow3
{

  border-radius: 10%;
  height: 27%;
  width: 20%;
  size: 300px;
  margin-top: 0.7%;
  margin-bottom: 0.5%;
  margin-left: 2%;
  display: inline-block;
  position: relative;

=======
>>>>>>> 7a029ae479be4ea5056cba1b09161cd972191922

}